.svg-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border-radius: 50%;
    background-color: rgb(219 234 254);
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    & svg {
        width: 25px;
        height: 25px;
        fill: rgb(30 64 175);
    }
}